{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title|render|striptags|trim %}
<section class="uni-banner">
    <img src="/sites/default/files/inline-images/ban3.jpg" data-entity-uuid="82b34c79-7748-496d-8fdb-581060fe73ce" data-entity-type="file" alt="gouvernorat" width="1024" height="768">
    <div class="container">
        <div class="uni-banner-text-area">
            <h1>
                {{ title }} MSA
            </h1>
        </div>
    </div>
</section>
{% endif %}
{{ title_suffix }}
